*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
body {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   background-color: #1B1B1B;
   color: #E5E5E5;
}
/*Homepage*/
.header__items_container {
   max-width: 1190px;
   margin: 0 auto;
   padding: 0 30px;
}
.header__items {
   display: flex;
   justify-content: space-between;
   padding: 40px 0px;
   position: relative;
   z-index: 2;
}
.menu__list {
   display: flex;
}
.menu__list a {
   color: #E5E5E5;
   margin-left: 15px;
}
.menu__list a:hover {
   font-size: 20px;
   font-weight: 700;
   color: white;
}
.main__background img {
   position: absolute;
   top: 0;
   width: 100%;
   object-fit: cover;
}
.main__content {
   text-align: center;
   color: #FFFFFF;
   position: relative;
   font-weight: 700;
   z-index: 5;
}
.main__subtitle {
   font-size: 24px;
   line-height: 28px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   margin-top: 100px;
   margin-bottom: 35px;
}
.main__title {
   font-size: 72px;
   line-height: 84px;
   letter-spacing: 0.1em;
   margin-bottom: 45px;
}
.main__text {
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   max-width: 460px;
   display: block;
   margin: 0 auto;
   margin-bottom: 95px;
}
.main__btn {
   padding: 18px 40px;
   background-color: #FFFFFF;
   border-radius: 50px;
   color: #272142;
   font-size: 14px;
   font-weight: 700;
   transition: font-size 0.3s ease 0s;
}
.main__btn:hover {
   font-size: 20px;
   background-color: #E5E5E5;
   color: #1B1B1B;
}
.section__container  {
   max-width: 1190px;
   margin: 0 auto;
   padding: 0 30px;
}
.row__first {
   margin-top: 200px;
}
.row__first,
.row__second,
.row__third {
   margin-bottom: 25px;
}
.colon img {
   height: 100%;
   max-height: 280px;
   }
.col_row11,
.col_row12 {
   max-width: 36%;
}
.col_row13 {
   max-width: 28%;
   }
.col_row11 img,
.col_row12 img,
.col_row13 img {
   width: 100%;
}
.col_row21,
.col_row22 {
   max-width: 28%;
}
.col_row23 {
   max-width: 44%;
}
.col_row21 img,
.col_row22 img,
.col_row23 img {
   width: 100%;
}
.col_row31 {
   max-width: 32%;
}
.col_row32 {
   max-width: 33%;
}
.col_row33 {
   max-width: 35%;
}
.col_row31 img,
.col_row32 img,
.col_row33 img {
   width: 100%;
}
.col_row41,
.col_row42 {
   max-width: 36%;
}
.col_row43 {
   max-width: 28%;
}
.col_row41 img,
.col_row42 img,
.col_row43 img {
   width: 100%;
}
.footer {
   margin-top: 60px;
   background-color: #282323;
   color: #E5E5E5;
}
.footer__container {
   max-width: 1190px;
   margin: 0 auto;
   padding: 0 30px;
}
.footer__items {
   display: flex;
   justify-content: space-between;
   padding: 30px 0 25px;
   align-items: center;
}
.footer__icons i {
   margin: 0 15px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   text-align: center;
   transition: all 0.3s ease;
}
.footer__icons i:hover {
   font-size: 25px;
}
.footer__text {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
}
@media(max-width: 1400px) {
   .main__subtitle {
      margin-top: 50px;
   }
   .row__first {
      margin-top: 160px;
   }
}
@media(max-width: 1200px) {
   .header__items_container {
      max-width: 990px;
      padding: 35px 15px;
   }
   .main__subtitle {
      font-size: 20px;
      margin: 50px 0 10px;
   }
   .main__title {
      font-size: 60px; 
      margin-bottom:10px;
   }
   .main__text {
      font-size: 15px;
      margin-bottom: 50px;
   }
   .main__btn {
      padding: 15px 30px; 
   }
   .section__container  {
      max-width: 990px;
      padding: 0 15px;
   }
   .colon img {
      height: 100%;
      max-height: 200px;
   }
   .footer {
      margin-top: 50px;
   }
   .footer__container {
      max-width: 990px;
      padding: 0 15px;
   }
   .footer__items {
      padding: 20px 0 15px;
      align-items: center;
   }
}  
@media(max-width: 998px) {
   .header__items_container {
      max-width: 700px;
      padding: 25px 15px;
   }
   .header__logo img,
   .footer__logo img {
      width: 100px;
   }
   .header__menu {
      font-size: 15px;
   }
   .main__subtitle {
      font-size: 18px;
      margin: 10px 0 10px;
   }
   .main__title {
      font-size: 45px; 
      margin-bottom: 5px;
   }
   .main__text {
      font-size: 12px;
      margin-bottom: 30px;
   }
   .main__btn {
      padding: 10px 15px; 
      font-size: 10px;
   }
   .section__container  {
      max-width: 700px;
      padding: 0 15px;
   }
   .colon img {
      height: 100%;
      max-height: 180px;
   }
   .footer {
      margin-top: 30px;
   }
   .footer__container {
      max-width: 700px;
      padding: 0 15px;
   }
   .footer__items {
      align-items: center;
      padding: 20px 0 15px;
   }
   .footer__icons i {
      font-size: 12px;
   }
   .footer__text {
      font-size: 12px;
   }

}
@media(max-width: 868px) {
   .main__subtitle {
      margin-top: 20px;
   }
   .row__first {
      margin-top: 80px;
   }
}
@media(max-width: 768px) {
   .header__items_container {
      max-width: 600px;
      padding: 15px 15px;
   }
   .main__subtitle {
      margin-top: 0px;
   }
   .row__first {
      margin-top: 70px;
   }
   .main__title {
      font-size: 40px; 
      margin-bottom: 0px;
   }
   .main__text {
      font-size: 12px;
      margin-bottom: 20px;
   }
   .main__btn:hover {
      font-size: 13px;
   }
   .section__container  {
      max-width: 600px;
      padding: 0 15px;
   }
   .footer__container {
      max-width: 600px;
      padding: 0 15px;
   }
   .footer__items {
      align-items: center;
   }
   .footer__icons i:hover {
      font-size: 18px;
   }
}
@media(max-width: 662px) {
   .main__background {
      display: none;
   }
   .colon img {
      height: 100%;
      max-height: 150px;
      }
   .footer__icons {
      font-size: 5px;
   }
   .footer__text {
      font-size: 10px;
   }
}
@media(max-width: 500px) {
   .header__items_container {
      max-width: 400px;
      padding: 15px 15px;
   }
   .header__items {
      align-items: center;
   }
   .header__logo img {
      width: 70px;
   }
   .menu__list a {
     margin-left: 10px;
     font-size: 13px;
   }
   .main__subtitle {
      font-size: 12px;
      margin: 0;
      line-height: 30px;
   }
   .main__title {
      font-size: 30px;
      margin: 0;
      line-height: 50px;
   }
   .main__text {
      font-size: 8px;
      padding: 0 15px;
      margin: 0;
      line-height: 15px;
      margin-bottom: 15px;
   }
   .main__btn {
      padding: 10px 15px;
      font-size: 8px;
   }
   .main__btn:hover {
      font-size: 11px;
   }
   .section__container  {
      max-width: 400px;
      padding: 0 15px;
   }
   .row__first {
      margin-top: 70px;
   }
   .section__container  {
      max-width: 600px;
      padding: 0 15px;
   }
   .footer__container {
      max-width: 400px;
      padding: 0 15px;
   }
   .footer__items {
      align-items: center;
   }
   .footer__logo {
    display: none;
   }
   .footer__icons i {
      font-size: 8px;
      margin: 0 5px;
   }
   .footer__icons i:hover {
      font-size: 12px;
   }
   .footer__text {
      font-size: 10px;
   }
}